body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    background-color: #f4f4f4; /* Цвет фона страницы */
    color: #333; /* Цвет текста */
}

.register {
    text-align: center;
    background-color: #fff; /* Цвет фона формы */
    border-radius: 8px; /* Закругляем углы формы */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для формы */
    width: 300px; /* Ширина формы */
}

.register form input {
    width: calc(100% - 24px); /* Ширина поля с учетом границы */
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000; /* Обводка черным цветом */
    border-radius: 5px;
    cursor: pointer;
}

.register form label,
.register form input,
.register form button {
    display: block;
    margin-bottom: 15px;
}

.register form button {
    padding: 10px;
    display: block;
    background-color: #4CAF50; /* Зеленый цвет */
    color: #fff;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    width: calc(100% - 24px); /* Ширина кнопки с учетом границы */
    box-sizing: border-box;
    margin-bottom: 15px;
}
