<!DOCTYPE html>
<html>
<head>
    <title>Профиль пользователя</title>
    <link rel="stylesheet" type="text/css" href="user_profile.css">
    <style>
    </style>
</head>
<body>
<h1>Профиль пользователя</h1>
<div>
    <h2>Данные пользователя:</h2>
    <p><strong>Логин:</strong> {{ user[0] }}</p>
    <p><strong>Email:</strong> {{ user[2] }}</p>
    <p><strong>Вы вошли под:</strong> {{ user[3] }}</p>
    <h2>Подписки:</h2>

    <div>
        <form onsubmit="sortSubscriptions(document.getElementById('sort-select').value, event)">
            <label for="sort-select">Сортировать по:</label>
            <select id="sort-select" name="sort_by">
                <option value="duration">Длительности</option>
                <option value="price">Цене</option>
            </select>
            <input type="submit" value="Сортировать">
        </form>

        </select>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Длительность (в днях)</th>
        </tr>
        </thead>
        <tbody id="subscriptions-table">
        <!-- Здесь будут строки таблицы с подписками -->
        {% for subscription in subscriptions %}
        <tr>
            <td>{{ subscription[0] }}</td>
            <td>{{ subscription[1] }}</td>
            <td>{{ subscription[2] }}</td>
            <td>{{ subscription[3] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <form onsubmit="sortFilms(document.getElementById('sort-select-films').value, event)">
            <label for="sort-select-films">Сортировать фильмы по:</label>
            <select id="sort-select-films" name="sort_by">
                <option value="duration">Длительности</option>
                <option value="year">Году выпуска</option>
            </select>
            <input type="submit" value="Сортировать">
        </form>

        <form onsubmit="filterByDirector(event)">
            <label for="director-select">Выбрать режиссера:</label>
            <select id="director-select" name="director_name" onchange="filterByDirector(event)">
                {% for director in directors %}
                <option value="{{ director }}">{{ director }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Фильтровать">
        </form>

        <form onsubmit="filterByCountry(event)">
            <label for="country-select">Выбрать страну:</label>
            <select id="country-select" name="country_name" onchange="filterByCountry(event)">
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Фильтровать">
        </form>


        <h2>Фильмы:</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Длительность</th>
                <th>Год выпуска</th>
                <th>Страна</th>
                <th>Режиссер</th>
            </tr>
            </thead>
            <tbody id="films-table">
            <!-- Здесь будут строки таблицы с подписками -->
            {% for film in films %}
            <tr>
                <td>{{ film[0] }}</td>
                <td>{{ film[1] }}</td>
                <td>{{ film[2] }}</td>
                <td>{{ film[3] }}</td>
                <td>{{ film[4] }}</td>
                <td>{{ film[5] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="button-more" onclick="window.location.href='{{ url_for('movies') }}'">Подробнее о фильмах
        </button>
    </div>


    <form action="/change_password" method="post">
        <h2>Изменить пароль:</h2>
        <label for="new-password">Новый пароль:</label>
        <input type="password" id="new-password" name="new-password" required>
        <br>
        <label for="confirm-password">Подтвердите пароль:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
        <br>
        <input type="submit" value="Изменить">
    </form>
    <p id="password-change-message" style="color: green; display: none;">Пароль успешно изменен</p>

    <script>
        function sortSubscriptions(sortBy, event) {
            event.preventDefault();

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var responseData = JSON.parse(this.responseText);

                    var tableBody = document.getElementById("subscriptions-table");
                    tableBody.innerHTML = ""; // Очистим текущее содержимое таблицы

                    responseData.forEach(function(subscription) {
                        var row = `<tr><td>${subscription[0]}</td><td>${subscription[1]}</td><td>${subscription[2]}</td><td>${subscription[3]}</td></tr>`;
                        tableBody.insertAdjacentHTML('beforeend', row);
                    });
                }
            };

            xhttp.open("POST", "/sort_subscriptions", true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhttp.send("sort_by=" + sortBy);
        }





        function sortFilms(sortBy, event) {
                event.preventDefault();

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                var responseData = JSON.parse(this.responseText);

                var tableBody = document.getElementById("films-table");
                tableBody.innerHTML = ""; // Очищаем текущее содержимое таблицы

                responseData.forEach(function (film) {
                    var row = `<tr><td>${film.id}</td><td>${film.title}</td><td>${film.duration}</td><td>${film.year}</td><td>${film.country}</td><td>${film.director}</td></tr>`;
                    tableBody.insertAdjacentHTML('beforeend', row);
                });
            }
        };


                xhttp.open("POST", "/sort_films", true);
                xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhttp.send("sort_by=" + sortBy);
            }

        function filterByDirector(event) {
            event.preventDefault();
            var directorName = document.getElementById("director-select").value;
            filterFilms('director', directorName);
        }

        function filterByCountry(event) {
            event.preventDefault();
            var countryName = document.getElementById("country-select").value;
            filterFilms('country', countryName);
        }

        function filterFilms(filterType, filterValue) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        var responseData = JSON.parse(this.responseText);
                        var tableBody = document.getElementById("films-table");
                        tableBody.innerHTML = ""; // Очищаем содержимое таблицы перед обновлением

                        for (var i = 0; i < responseData.length; i++) {
                            var film = responseData[i];
                            var row = "<tr>";
                            for (var j = 0; j < film.length; j++) {
                                row += `<td>${film[j]}</td>`;
                            }
                            row += "</tr>";
                            tableBody.insertAdjacentHTML("beforeend", row);
                        }
                    } else {
                        console.error('Ошибка при получении данных о фильмах');
                    }
                }
            };

            xhttp.open("POST", "/filter_films", true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhttp.send("filter_type=" + filterType + "&filter_value=" + filterValue);
        }


    </script>


</div>
<a href="{{ url_for('index') }}" class="home-link">На главную страницу</a>
</body>
</html>